@import url('https://fonts.googleapis.com/css?family=Catamaran:900');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

:root{
    
    --plat: #ebebeb;
    --platDup: #ebebeb;
    --lava: #058ED9;
    --yellow: #F4E349;
    --yellow1:#EFC94C;
    --blue1: #db001b;
    --blue2: #575bd3;
/*    --dark: #111E26;*/
    --dark: #313131;
    
    --cBlack: #17252A;
    --cBrue: #2B7A78;
    --cBlue: #3AAFA9;
    --cGrey: #DEF2F1;
    --cWhite: #FEFFFF;
    
    --grey: #DDDDDD;
}

html, body {
    margin: 0px;
}

a{
    text-decoration: none;
    color: var(--dark);
}

.content{
    margin: 5%;
}

.left{
    display: flex;
    width: 50%;
    align-items: center;
    min-height: 100vh;
    float: left;
    justify-content: flex-end;
}
.right{
    display: flex;
    width: 50%;
    align-items: center;
    min-height: 100vh; 
    float: left;
    justify-content: flex-start;
}
.full{
    width: 100%;
    height 100vh;
    min-height: 100vh;
}
.split{
    width: 100%;
    height 100vh;
    min-height: 100vh;
}

.landing{
    font-family: "Catamaran";
    font-size: 120pt;
}

.clear{
    clear: both;
}

.text{
/*    position: ;*/
    align-items: center;
}

.left .text{
    text-align: right;
}

.right .text{
    float: left;
}

.landing .right{
/*
    background-color: var(--cBrue);
    color: var(--cWhite);
*/
    background-color: $FAFAFA;
    color: #BB0A21;
}

.landing .left{
/*
    background-color: var(--cWhite);
    color: var(--cBrue);
*/
    background-color: #BB0A21;
    color: #FAFAFA;
}

.section2{
    font-family: "Catamaran";
    font-size: 120pt;
}

.section2 .right{
    background-color: white;
    color: #e00f39;
}

.section2 .left{
    background-color: #e00f39;
    color: white;
}
/*
.fleft{
    width: 50%;
    float: left;
    min-height: 100vh;
}

.fright{
    width: 50%;
    float: left;
    min-height: 100vh;
}

.fullscreen{
    width: 100%;
    height 100vh;
    min-height: 100vh;
}

.landing{
    font-family: "Catamaran";
    font-size: 120pt;
}
.lleft{
    background-color: black;
    color: white;
}

.lright {
    background-color: white;
    color: black;
}

.clear {
    clear: both;
}

.heading-left {
    float: right;
}

.heading-right{
    float: left;
}

.section-2{
    font-family: "Catamaran";
    font-size: 120pt;
}

.sleft{
    background-color: white;
    color: black;
}

.s2right{
    background-color: black;
    color: white;
}
*/

.info-top {
    font-family: 'Catamaran';
    font-size: 80pt;
    text-align: center;
    
    min-width: 100%;
}

.info{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: var(--plat);
    color: var(--dark);
}

.info-hr {
    align-self: center;
    border: solid 1px grey;
    width: 50%
}

.profile-img img{
    border-radius: 50%;
}

.profile-img {
    margin-left: 5%;
    margin-right: 5%
}

.profile {
    min-width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.info-content {
    margin-right: 5%;
    font-family: 'PT Sans';
    font-size: 30pt;
    font-weight: 800;
}

.lefts{
    display: flex;
    width: 50%;
    align-items: center;
    min-height: 100vh;
    float: left;
    justify-content: center;
}

.rights{
    display: flex;
    width: 50%;
    align-items: center;
    min-height: 100vh;
    float: left;
    justify-content: center;
}

.tmff .lefts{
    font-size: 120pt;
    font-family: "Catamaran";
    background-color: var(--plat);
    color: var(--blue1);
    
}

.lefts .text{
    text-align: center;
}
.rights .text{
    text-align: center;
}

.tmff .rights{
    font-family: 'PT Sans';
    font-weight: 900;
    font-size: 25pt;
    background-color: var(--blue1);
    color: var(--plat);
}

.comic .rights{
    font-size: 120pt;
    font-family: "Catamaran";
    background-color: var(--plat);
    color: var(--lava);
}

.comic .lefts{
    font-family: 'PT Sans';
    font-weight: 900;
    font-size: 25pt;
    background-color: var(--lava);
    color: var(--plat);
}

.audio .lefts{
    font-size: 120pt;
    font-family: "Catamaran";
    background-color: var(--plat);
    color: var(--yellow1);
}

.audio .rights{
    font-family: 'PT Sans';
    font-weight: 900;
    font-size: 25pt;
    background-color: var(--yellow1);
    color: var(--plat);
}

.video .rights{
    font-size: 120pt;
    font-family: "Catamaran";
    background-color: var(--plat);
    color: var(--blue2);
}

.video .lefts{
    font-family: 'PT Sans';
    font-weight: 900;
    font-size: 25pt;
    background-color: var(--blue2);
    color: var(--plat);
}

.arrow {
    color: gainsboro;
    font-size: 80pt;
}

.arrow:hover{
    color: black;
}

.arrow-down {
    color: gainsboro;
    font-size: 80pt;
}

.arrow-down:hover{
    color: black;
}

.centerer {
    margin-left: auto;
    margin-right: auto;
}

.color {
    min-width: 98%;
    position: absolute;
    z-index: 9;
    margin: 1%; 
    font-family: "Catamaran"; 
    font-size: 20pt;
}

.color a{
    cursor: pointer;
}

.light {
    float: left;
}

.dark {
    float: right;
}

#lit {
    color: #ebebeb;
}

#ded {
    color: #313131;
}
