body{
    font-family: 'Roboto', sans-serif;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    background: #FFEFBA;  
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA); 
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
}

.content{
    font-size: 1.4em;
}

h1{
    font-family: 'Acme', sans-serif;
    font-size: 3.8em;
}