html, body {
	height: 100%;
	margin:0px;
	border:0px;
}

.bg {
    background-image: url("ghost.jpg");
    height: 110%; 
    background-position: center;
    background-size: cover;
    border: 0px;
    margin: 0px;
}
