html, body {
	height: 100%;
}

.bg {
    background-image: url("ghost.jpg");
    height: 110%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    button {
	border:solid 1px #333;
color: #333;
padding: 20px;
font-size: 16pt;
margin: 5px;
}

button.active {
	border:solid 1px blue;
	background-color: blue;
	color: white;

	body, html {
    height: 100%;
    margin: 0;
}

}
}